<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beerforia</title>
    <script  src="https://unpkg.com/puzzy-search/dist/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/beer_style.css" />
</head>
<body>
   {{{body}}} 
</body>
<script type="text/javascript" src="/assets/js/beers.js"></script>
</html>