.containerBanner {
    background-color: #00502A;
    margin: 10px;
    height: 75px;
}
.h1 {
    text-align: center;
    padding: 5px;
}
.img {
    margin: 10px;
    width: 150px;
    height: 150px;
}

.search {
background-color: rgb(192, 190, 190);
margin: center;
}

.searchbtn {
    background-color: #bf923b; 
}
.column {
    float: left;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    text-align: left;
    font-size: 9pt;
    margin: auto 10px;
  }
.card {
    margin: 20px;
    min-width: 300px;
}

.row:after {
    display: table;
  }

.card-img-top {
    width: 200px;
    height: 200px;
}

#search{
    margin-left: 50px;
}

.beerData{
    color: #00502A;
    font-weight: bold;
    text-align: left;
    font-size: 9pt;
    margin: auto 10px;
    
}

.beerName{
    color: #00502A;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

hr {
    color: #00502A;
    height:20px;
}
.form-style{
    border: 4px black;
    text-align: center;
    background-color:#00502A; 
    max-width: 300px;
}
.beerName-form {
    color:#bf923b; 
    margin-bottom: 10px;
}

.form-control {
margin-top: 10px;
max-width: 200px;
text-align: center;
display: inline-flex;
}

.btn {
float: center;
margin-top: 0px;
margin-bottom: 5px;
}

footer {
    background-color: #00502A;
    height: 50ox;
    text-align: center;
}

.contributors {
    text-decoration: underline;
}

hr {
color: black;
  }
