.containerBanner {
    background-color: #009F29;
}


.search {
background-color: #91eea8;
}

.searchbtn {
    background-color: #e2ca42; 
}

.card {
    border: 20px;
    border-color: black;
    display: inline-block;  
     
}

.card-img-top {
    width: 200px;
    height: 200px;
}

#search{
    margin-left: 50px;
}

.beerData{
    margin-left: 50px;
    color: #035e33;
    font-weight: bold;
    
}

.beerName{
    margin-left: 50px;
    color: #009F29;
    text-align: center;
    text-decoration: underline;
}

hr {
    color: #035e33;
    height:20px;
}
.form-style{
    border: 4px black;
    text-align: center;
    background-color:#035e33; 
    max-width: 300px;
}
.beerName-form {
    color:#e2ca42; 
    margin-bottom: 10px;
}

.form-control {
margin-top: 10px;
max-width: 200px;
text-align: center;
display: center;
}

.btn {
float: center;
margin-top: 0px;
margin-bottom: 5px;
}

footer {
    background-color: #91eea8;
    height: 50ox;
    text-align: center;
}

.contributers {
    text-decoration: underline;
}

hr {
color: black;
  }
